@import '../../sass/';

.CellContainer {
	width: $cell-size;
	height: $cell-size;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border: $border-size solid $thin-color;
	z-index: inherit;
	transition: 0.2s;

	p {
		padding: 0;
		margin: 0;
	}

	input {
		width: $cell-size * 0.5;
		text-align: center;
	}

	&[data-is-clue='1'] {
		background-color: $clue;
	}

	&[data-is-clue='0']:hover {
		&[data-game-complete='0'] {
			cursor: pointer;
		}
	}

	&[data-is-clue='0'] {
		&[data-show-correct='1'] {
			&[data-is-correct='1'] {
				background-color: $correct;
			}
			&[data-is-correct='0'] {
				background-color: $incorrect;
			}
		}
	}
}
