@import '../../sass/';

.BoardContainer {
	width: $cell-size * 9 + ($border-size * 6);
	height: $cell-size * 9 + ($border-size * 6);
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	position: relative;
	z-index: 5;

	.CellButtons {
		display: flex;
		position: absolute;
		right: -150px;
	}
}
